.rake_test_cache

###
# Ignore Chef key files and secrets
###
.chef/proversity_secret
.chef/barkat.pem
*.iml
/.idea
*.classpath
*.buildpath
*.project
chef-client-running.pid
chef-stacktrace.out
environments
data_bags
remote_file/
run.json
solo.rb
proversity.json


